* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(img/cardapio.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

.timer-container {
  font-size: 15px;
  color: #ffffff;
  background-color: #f2f2f2;
  padding: 5px 0 0 5px;
  border-radius: 5px;
  position: absolute;
  top: 570px;
  left: 785px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  transition: 1s ease-in-out;
}

.container-quiz {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 0 0 -33px;
  background-color: #0a0a0a73;
  border-radius: 5px;
  text-align: center; 
}

.imgQuiz {
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 26%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 340px;
  height: 100px;
}

.imagem {
  width: 180px;
  margin: 0 auto;
}

.container {
  width: 360px;
  padding: 20px 5px 0 0;
  display: none;
  text-align: center;
  margin: auto;
  color: white;
}

.pergunta1,
.pergunta2,
.pergunta3 {
  padding: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  margin-top: 50px;
}

.alternativas {
  margin-bottom: 10px;
}

.alternativas label {
  display: inline-block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  margin: 1px;
  font-family: sans-serif;
  text-decoration: none;
  color: #fffb00;
  border: 1px solid #353534;
  border-radius: 2px;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  cursor: pointer;
}

.alternativas label span {
  pointer-events: none;
  position: relative;
  z-index: 2;
}

.alternativas label input[type="radio"] {
  display: none;

}

.alternativas label:active {
  transform: translateY(5px);
}

.alternativas label:hover {
  color: #fff;
}

.alternativas label:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all .35s;
}

.alternativas label:hover:after {
  width: 100%;
}

.cardapio {
  text-align: center;
  font-size: 45cm;
  color: rgb(0, 3, 0);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.resultado-final {
  font-size: 70px;
  color: rgb(0, 3, 0);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.next {
  width: 220px;
  height: 50px;
  border: #fffb00 solid 0.1px;
  margin: 50px;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.next:before {
  content: '';
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.next:active {
  color: #000;
}

.next:active:after {
  background: transparent;
}

.next:hover:before {
  opacity: 1;
}

.next:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.resultado-final {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  right: 0;
  z-index: 9999;
}

.modal-content {
  background-color: #b2b2b2f9;
  margin: 20% auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  border-radius: 20px 0 20px 0;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

#resultContainer {
  text-align: center;
  margin-top: 20px;
}

#resultText {
  font-size: 20px;
}

.wrapper {
  position: fixed;
  top: 92%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.link_wrapper {
  position: relative;
}

a {
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all .35s;
}

.icon {
  width: 40px;
  height: 40px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}

.icon svg {
  width: 20px;
  position: absolute;
  top: calc(70% - 15px);
  left: calc(65% - 15px);
  transform: rotate(-45deg);
  fill: #fffb00;
  transition: all .35s;
}

a:hover {
  width: 150px;
  border: 3px solid #fffb00;
  background: transparent;
  color: #fffb00;
}

a:hover+.icon {
  border: 3px solid #fffb00;
  right: -25%;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
  padding: 20px;
  background-color: transparent;
}